<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- A continuacion deben declararse todas las Interfaces que se implementan como
         Servlets en el sistema. Para cada Interfaz deben declararse los tags
         <servlet> y <servlet-mapping>
     -->

    <servlet>
      <servlet-name>Ingresar</servlet-name>
      <servlet-class>interfaces.InterfazIngresar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Registrar</servlet-name>
      <servlet-class>interfaces.InterfazRegistrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ConsultarPublicacion</servlet-name>
      <servlet-class>interfaces.InterfazConsultarPublicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarPublicacion</servlet-name>
        <url-pattern>/ConsultarPublicacion</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ConsultarEstatusArticulo</servlet-name>
      <servlet-class>interfaces.InterfazEstatusArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarEstatusArticulo</servlet-name>
        <url-pattern>/ConsultarEstatusArticulo</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>SubirArticulo</servlet-name>
      <servlet-class>interfaces.InterfazSubirArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubirArticulo</servlet-name>
        <url-pattern>/SubirArticulo</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ConsultarArticulo</servlet-name>
      <servlet-class>interfaces.InterfazConsultarArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarArticulo</servlet-name>
        <url-pattern>/ConsultarArticulo</url-pattern>
    </servlet-mapping>


    <servlet>
      <servlet-name>EvaluarArticulo</servlet-name>
      <servlet-class>interfaces.InterfazEvaluarArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvaluarArticulo</servlet-name>
        <url-pattern>/EvaluarArticulo</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>SubirCarta</servlet-name>
      <servlet-class>interfaces.InterfazSubirCarta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubirCarta</servlet-name>
        <url-pattern>/SubirCarta</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>CrearPublicacion</servlet-name>
      <servlet-class>interfaces.InterfazCrearPublicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPublicacion</servlet-name>
        <url-pattern>/CrearPublicacion</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ContratarSubscripcion</servlet-name>
      <servlet-class>interfaces.InterfazContratarSub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContratarSubscripcion</servlet-name>
        <url-pattern>/ContratarSubscripcion</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>RenovarSubscripcion</servlet-name>
      <servlet-class>interfaces.InterfazRenovarSub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RenovarSubscripcion</servlet-name>
        <url-pattern>/RenovarSubscripcion</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>logoff</servlet-name>
      <servlet-class>interfaces.InterfazLogOff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoff</servlet-name>
        <url-pattern>/logoff</url-pattern>
    </servlet-mapping>

</web-app>
