<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- A continuacion deben declararse todas las Interfaces que se implementan como
         Servlets en el sistema. Para cada Interfaz deben declararse los tags
         <servlet> y <servlet-mapping>
     -->

    <servlet>
      <servlet-name>Ingresar</servlet-name>
      <servlet-class>interfaces.InterfazIngresar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Registrar</servlet-name>
      <servlet-class>interfaces.InterfazRegistrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ConsultarPub</servlet-name>
      <servlet-class>interfaces.InterfazConsultarPub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarPub</servlet-name>
        <url-pattern>/ConsultarPub</url-pattern>
    </servlet-mapping>

</web-app>
